In [38]:
import numpy as np
import pandas as pd 
import nltk
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [39]:
df=pd.read_csv('C:/Users/AKY/Desktop/Projects/7.1 Course recommendation system -Code Files/data/udemy_course_data.csv')

In [40]:
df.head()

,course_id,course_title,url,is_paid,price,num_subscribers,num_reviews,num_lectures,level,content_duration,published_timestamp,subject,profit,published_date,published_time,year,month,day
0,1070968,Ultimate Investment Banking Course,https://www.udemy.com/ultimate-investment-bank...,True,200,2147,23,51,All Levels,1.5 hours,2017-01-18T20:58:58Z,Business Finance,429400,2017-01-18,20:58:58Z,2017,1,18
1,1113822,Complete GST Course & Certification - Grow You...,https://www.udemy.com/goods-and-services-tax/,True,75,2792,923,274,All Levels,39 hours,2017-03-09T16:34:20Z,Business Finance,209400,2017-03-09,16:34:20Z,2017,3,9
2,1006314,Financial Modeling for Business Analysts and C...,https://www.udemy.com/financial-modeling-for-b...,True,45,2174,74,51,Intermediate Level,2.5 hours,2016-12-19T19:26:30Z,Business Finance,97830,2016-12-19,19:26:30Z,2016,12,19
3,1210588,Beginner to Pro - Financial Analysis in Excel ...,https://www.udemy.com/complete-excel-finance-c...,True,95,2451,11,36,All Levels,3 hours,2017-05-30T20:07:24Z,Business Finance,232845,2017-05-30,20:07:24Z,2017,5,30
4,1011058,How To Maximize Your Profits Trading Options,https://www.udemy.com/how-to-maximize-your-pro...,True,200,1276,45,26,Intermediate Level,2 hours,2016-12-13T14:57:18Z,Business Finance,255200,2016-12-13,14:57:18Z,2016,12,13

In [41]:
df=df[['course_title','price','num_subscribers','subject']]

In [42]:
df.head()

,course_title,price,num_subscribers,subject
0,Ultimate Investment Banking Course,200,2147,Business Finance
1,Complete GST Course & Certification - Grow You...,75,2792,Business Finance
2,Financial Modeling for Business Analysts and C...,45,2174,Business Finance
3,Beginner to Pro - Financial Analysis in Excel ...,95,2451,Business Finance
4,How To Maximize Your Profits Trading Options,200,1276,Business Finance

In [43]:
df.course_title=df.course_title.str.lower()

In [44]:
df.head()

,course_title,price,num_subscribers,subject
0,ultimate investment banking course,200,2147,Business Finance
1,complete gst course & certification - grow you...,75,2792,Business Finance
2,financial modeling for business analysts and c...,45,2174,Business Finance
3,beginner to pro - financial analysis in excel ...,95,2451,Business Finance
4,how to maximize your profits trading options,200,1276,Business Finance

In [45]:
tf=TfidfVectorizer(max_features=50000)
vectors=tf.fit_transform(df.course_title)

In [46]:
similarity=cosine_similarity(vectors)

In [48]:
df[df.course_title=='ultimate investment banking course'].index[0]

0

In [49]:
sorted(list(enumerate(similarity[4])),reverse=True,key=lambda x:x[1])[0:6]

[(4, 1.0),
 (222, 0.38822038399150105),
 (416, 0.3764190693743415),
 (43, 0.3636918771257685),
 (410, 0.34416973354072955),
 (99, 0.3219412268239194)]

In [58]:
def recommend(book):
    movie_index=df[df.course_title==book]
    index=movie_index.index[0]
    book_list=sorted(list(enumerate(similarity[index])),reverse=True,key=lambda x:x[1])[0:6]
    for i in book_list:
        print(df.iloc[i[0]].course_title,'[The Price of that course is:',df.iloc[i[0]].price,']')

In [59]:
recommend('adobe indesign cc advanced')

adobe indesign cc advanced [The Price of that course is: 30 ]
adobe illustrator cc advanced [The Price of that course is: 30 ]
adobe indesign cc başlangıç [The Price of that course is: 0 ]
adobe indesign cc 2017 quick start [The Price of that course is: 35 ]
learn adobe indesign from scratch [The Price of that course is: 40 ]
adobe indesign cs6 [The Price of that course is: 50 ]

In [52]:
df.course_title.values

array(['ultimate investment banking course',
       'complete gst course & certification - grow your ca practice',
       'financial modeling for business analysts and consultants', ...,
       'learn and build using polymer',
       'css animations: create amazing effects on your website',
       "using modx cms to build websites: a beginner's guide"],
      dtype=object)

In [54]:
df.course_title.value_counts()

course_title
creating an animated greeting card via google slides    3
acoustic blues guitar lessons                           3
bookkeeping made simple                                 2
interpreting financial statements                       2
javascript for beginners                                2
                                                       ..
drawing perspective for beginners                       1
adobe indesign cc advanced                              1
intro to photoshop for merch by amazon                  1
photoshop - creación de efectos 2                       1
using modx cms to build websites: a beginner's guide    1
Name: count, Length: 3663, dtype: int64

In [68]:
import pickle
pickle.dump(df,open('books.pkl','wb'))

In [69]:
pickle.dump(similarity,open('similarity.pkl','wb'))